.filterableListContainer {
    width: 20%;
    padding-left: 5%;
    text-align: left;
    border: 3px solid #63C4F5;
    border-radius: 5px;
}

.filterHeading {
    padding: 10px;
    font-size: 20px;
    color: #63C4F5;
}

.filterInput {
    padding: 5px;
}

.filterLabel {
    padding: 5px;
}